@import "../../scss/index.scss";

.top-bar {
    background-color: #3da4ab;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    z-index: 1;

    &_left {
        margin-top: 20px;
        i{
            font-size: 30px !important;

            &:hover {
                cursor: pointer;
            }
        }
    }

    &_right {
        display: flex;
        align-items: center;

        a {
            display: flex;
            align-items: center;
            margin-right: 20px;
            color: $font-light;

            &:hover {
                color: $primary-color;
            }

            img {
                width: 25px;
                height: 25px;
                margin-right: 10px;
                border-radius: 50px;
            }
        }

        i {
            &:hover{
                cursor: pointer;
            }
        }
    }
}